* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #ffffff;
    color: #0f172a;
}

/* HEADER */
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    border-bottom: 1px solid #e5e7eb;
}

.logo {
    font-weight: bold;
    color: #1d4ed8;
}

.menu {
    font-size: 14px;
    color: #1e293b;
}

/* HERO */
.hero {
    background: linear-gradient(180deg, #2563eb, #1e40af);
    color: white;
    text-align: center;
    padding: 90px 20px;
}

.hero h1 {                
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {              /*info transforma vidas*/
    max-width: 700px;
    margin: auto;
    font-size: 20px;
    line-height: 1.6;
}

.btn-primary {
    margin-top: 35px;
    padding: 14px 28px;
    background: white;
    color: #1e40af;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

/* INFO */
.info {
    text-align: center;
    padding: 80px 20px;
}

.info .icon {
    font-size: 40px;
}

.info h2 {
    margin: 15px 0;
    font-size: 38px;
}

.info p {
    max-width: 800px;
    margin: 15px auto 50px;
    color: #263c5e;     /*#475569*/
    font-family: 'Lucida Sans Unicode'
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    width: 280px;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    padding: 30px 20px;
}

.card-icon {
    font-size: 30px;
    color: #2563eb;
}

.card-icon.green { color: #16a34a; }
.card-icon.purple { color: #7c3aed; }

.card h3 {
    margin: 15px 0;
}

/* CAUSAS */
.causas {
    background: #f8fafc;
    padding: 80px 20px;
    text-align: center;
}

.causas-grid {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

.causa-card {
    background: white;
    width: 320px;
    border-radius: 12px;
    border: 1px solid #e5e7eb;
    overflow: hidden;
    text-align: left;
}

.causa-logo img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.causa-header {
    color: white;
    padding: 20px;
}

.blue { background: #1e40af; }
.green { background: #16a34a; }
.teal { background: #0284c7; }

.causa-card ul {
    padding: 25px;
    color: #334155;
}

.causa-card li {
    margin-bottom: 10px;
}

.btn {
    margin: 0 25px 25px;
    width: calc(100% - 50px);
    padding: 12px;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* COLABORADORES */
.colaboradores {
    padding: 80px 20px;
    text-align: center;
}

.logos {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-top: 40px;
}

.logo-box {
    width: 160px;
    height: 80px;
    background: #f1f5f9;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #94a3b8;
    border-radius: 8px;
}

/* FOOTER */
footer {
    background: #020617;
    color: white;
    text-align: center;
    padding: 30px 20px;
}

footer span {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #cbd5f5;
}
